body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #066163;
    text-decoration: underline;
    cursor: pointer;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.opcoes {
    width: 150px;
    height: 25px;
    text-align: center;
    font-size: 18px;
}

fieldset {
    margin-top: 20px;
    margin-bottom: 20px;
}

.enviar {
    width: 56%;
    padding: 15px 0;
    background: #066163;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    transition: 0.4s all;
    cursor: pointer;
    margin-top: 20px;
}

.enviar:hover {
    background: #66BFBF;
    transition: 0.4s all;
    transform: scale(1.1);
    cursor: pointer;
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: #66BFBF;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
    width: 232px;
}

footer {
    text-align: center;
    background: url("/img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}